.contenedor-frase-titulo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-querie-mobile(){
        margin-top: 100px;}  
    h1{ 
        font-size: 80px;
        font-weight: 200;
        text-align: center;
        font-family:'MONTSERRAT', sans-serif ;
        font-style: italic;
        margin-top: 150px;
        width: 100%;
        text-shadow: 0px 0px 20px black;
        color: $color-tipografias;
        @include media-querie-mobile(){
            font-size: 50px;
            width: 80%;
            margin-top: 30px;}}}

.contenido-inicio{ 
    text-align: center;
    padding: 20px;
    height: 900px;
    background-image: url(../resources/fondo\ negro\ pagina\ web.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .subtitulo{ 
        font-size: $subtitulos-principales ;
        font-weight: 200;
        margin-top: 60px;
        text-shadow: 0px 0px 20px black;
        width: 100%;
        text-align: center;
        color: $color-tipografias;
        @include media-querie-mobile(){
           font-size: 30px ;
           margin-top: 60px;}}}

#bancoDescuentos{
    .titulo-descuentos{
        font-size: 24px;
        font-weight: 400;
        margin-top: 200px;
        color: $color-tipografias;
        padding-bottom: 20px;
        @include media-querie-mobile(){
            font-size: 20px;}}
    .contenedor-link-beneficios{ 
        padding-top: 20px;}
    .link-beneficios{   
        font-weight: 400;
        color: $color-tipografias;
        &:hover{
            background-color: $color-tipografias;
            color: black;
            padding: 10px 10px;}}
    .contenedor-imagenes{ 
        background: linear-gradient(90deg, rgba(20,19,24,0.8604691876750701) 0%, rgba(20,19,24,0.8576680672268908) 100%);
        width: auto;
        border-radius: 5px;
        img{ 
            width: 100px;
            height: auto;
            padding: 20px 10px;
            object-fit: cover;
            @include media-querie-mobile(){
                padding: 10px 10px }}}}

