.contenedor-ubicacion{ 
    height: 900px;
    @include media-querie-mobile(){
        @include flexbox(column, center, center);
        height: 100%;}
    .contenedor-titulo-ubicacion{ 
        margin-top: 20px;
        @include media-querie-mobile(){
            margin-top: 100px;}
        h1{ 
            font-size: $titulos-principales ;
            text-shadow: 0px 0px 20px black;
            font-weight: 400;
            text-align: center;
            color: $color-tipografias;
            @include media-querie-mobile(){
                font-size: 32px ;}}}
    #ubicacionMures{ 
        @include flexbox(row, center, center);
        @include media-querie-mobile(){
            flex-direction: column-reverse;}
        .contenedor-direccion{
            @include flexbox(row, center, center);
            padding: 10px;
            margin-top: 50px;
            h2{
                font-size: $subtitulos-principales;
                text-shadow: 0px 0px 20px black;
                font-weight: 400;
                color: $color-tipografias;
                @include media-querie-mobile(){
                    font-size: 24px;
                    width: 58%;
                    padding: 0px 8px;}}
            i{ 
                font-size: 30px;
                padding: 10px;
                color: $color-tipografias;
                @include media-querie-mobile(){
                    font-size: 24px;}}}
        .contenedor-mapa{ 
            border: 8px solid $color-tipografias ;
            margin-left: 50px;
            margin-top: 100px;
            @include media-querie-mobile(){
                margin-left: unset;
                margin-top: 50px;}
            iframe{ 
                height: 400px;
                width: 600px;
                margin-bottom: -6px;
                @include media-querie-mobile(){
                    height: 370px;
                    width: 320px;}}}} 
    #nuevasUbicaciones{
        @include flexbox(column, flex-start, center); 
        margin-left: 40px;
        margin-top: 50px;
        @include media-querie-mobile(){
            align-items: center;
            margin-left: unset;
            margin-top: 40px;
            margin-bottom: 60px;}
        h3{ 
            font-size: 25px;
            font-weight: 400;
            padding: 10px 5px;
            color: $color-tipografias;
            @include media-querie-mobile(){
                font-size: 16px;}}
        li{ 
            font-size: 20px;
            font-weight: 200;
            padding: 10px;
            margin-top: 15px;
            color: $color-tipografias;
            @include media-querie-mobile(){
                font-size: 16px;}}}}








          
        
             
        
             
             
        
             
          
            




