
.pie-de-pagina { 
    height: 60px;
    width: 100%;
    background-color: $color-footer;
    margin-bottom: 0%;
    text-align: center;
    ul{ 
        color: $color-tipografias;
        list-style: none;
        display: flex;
        justify-content:right;
    @include media-querie-mobile(){
        justify-content:space-evenly;}}
    i{ 
        font-size: 20px;
        text-align: center;
        margin: 20px 20px;
        color: $color-tipografias;} 
@include media-querie-mobile(){
    .contenedor-redes{ 
        margin-left: -40px; } } }
 

 
