
.header-inicio { 
    height: 700px;
    width: 100%;
    background: linear-gradient(rgba(33, 35, 37, 0.8), rgba(33, 35, 37, 0.8)) , url(../resources/fondo\ comida\ elegante.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid white;
    @include media-querie-mobile(){
        height: 812px;
        width: 100%;}}
.navbar-collapse{
        position: absolute;
        top: 0;
        right: 0;
    @include media-querie-mobile(){
        position: unset;
        display: flex;
        justify-content: center;
        text-align: center;}}
.navbar-nav{
        margin-top: 10px;
        margin-right: 10px;}
.nav-link{ 
        font-size: 16px;
        font-weight: 400;
        padding: 10px;
        color: #F7F7F8;
    &:hover{
            background-color: $color-tipografias;
            color: black;
            transition: 0.5s;}
    @include media-querie-mobile(){
        font-size: 20px;
    &:active{
            background-color: $color-tipografias;
            color: black;}}}
.contenedor-logo{
        @include flexbox(column, center, flex-start);
        position: relative;
        top: 0;
        left: 0;}    
.logo{ 
        width: 150px ;
        height: 150px;
    @include media-querie-mobile(){
        width: 95px ;
        height: auto;}}
    @include media-querie-mobile(){
      .navbar-toggler{
        background-color: $color-tipografias;
        margin-right: 20px;
        width: 82px;
        height: 50px;}}



  
  
  
  

  
  


  









