.cuerpo {
    background-image: url(../resources/fondo\ negro\ pagina\ web.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}